.Header
  .Header__List
    %p.UserName lier
    %ul
      %li.Lefticon
        %link_to{ href: "#"}
          =icon('far', 'fa-edit')
      %li.Righticon
        %link_to{ :href: "#"}
          =icon('fas', 'fa-cog')
.GroupList
  .OtherUser techcamp
  .message まだメッセージがありません
