.Header
  .Header__List
    %p.UserName 
      =current_user.name
    %ul
      %li.Lefticon
        %link_to{ href: "#"}
          = icon('far', 'edit')
      %li.Righticon
        %link_to{ href: "#"}
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
.GroupList
  .OtherUser techcamp
  .message まだメッセージがありません
