.Header
  .Header__List
    %p.UserName lier
    %ul
      %li.Lefticon
        %a{ :href=> "#"}
          %i.far.fa-edit
      %li.Righticon
        %a{ :href=> "#"}
          %i.fas.fa-cog
.GroupList
  .OtherUser techcamp
  .message まだメッセージがありません
